.nav-container {
    display: flex;
    background-color: gray;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
}

.menus {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 18px;
}

.banner-container {

    height: 100vh;
    background-image: url(./image/background.jpg);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: rgb(73, 72, 72);
  padding-left: 80px;


}

.title {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.primary {

    color: red;
}

.description {

    color: white;
    padding: 10px;
    width: 50%;
    text-align: center;
    margin: auto;
}

.btn {
    padding: 12px 20px;
    border: none;
}

.btn-color {
    background-color: red;
    border: none;
    padding: 12px 20px;
    color: white;
}

.service-container {
    height: 100vh;
    background-image: url(./image/footer-bg.png);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(41, 37, 37);
    color: white;
    display: flex;
   padding: 25px;
   
    align-items: center;
}

.icon {
    width: 70px;
    margin-bottom: 20px;
    display: flex;

}

.box {
    width: 150px;
    height: 150px;
    padding: 50px;
    background-color: white;
    color: black;
text-align: center;
 border-radius: 5px;
 /* box-shadow: 4px 4px 8px gray ; */

}
.service-description{
    width: 50%;
}

.first-box{
    display: flex;
    gap: 3px;
    margin-top: 5px;
    align-items: center;
   
}
.second-tow-box{
    display: flex;
align-items: center;
width: 150px;
height: 150px;
padding: 50px;
border-radius: 3px;
padding: 50px;
   
  
}


.author-img{
width: 100px;
height: 100px;
    border-radius: 50px;
}

.author-container{
    display: flex;
    gap: 20px;
    align-items: center;
}
.profaile-container{
    display: flex;
    align-items: center;
    gap: 15px;
    border-right:2px solid red;
    padding-right: 50px;
}

.phone-call{
    display: flex;
    align-items: center;
}
.appoointment-container{

display: flex;
justify-content: space-around;
width: 80%;
margin: auto;
background-color: red;
padding: 20px;
border-radius: 10px;
margin-top: -30px;
align-items: center;


}
.blog-title{

color: black;
text-align: center;
margin-top: 50px;

}
.blog-desk{
text-align: center;

}

.card{
width: 180px;
height: 300px;
/* background-color: blue; */
box-shadow:4px 8px 4px gray;

}

.blog-img{

width: 100%;
border-radius: 5px;

}
.card-title{
margin-top: 10px;
margin-bottom: 10px;

}
.cards{
display: flex;
justify-content: center;
gap: 20px;

}

.blog-container{
background-color: gray;
height: 80%;
width: 80%;
margin: auto;
padding: 10px;
border-radius: 8px;

}